#bd_snap
  #bd_snap_txt
    .container
      = render "layouts/flash_messages"

      = render 'form'

      .row
        .span3
          %h3 配图结果
          = image_tag @match_oss
          .clearfix
            %strong 命中的Key:
            = @match_key
        .span7
          %h3 候选图片
          %table.table.table-striped
            %tr
              %th{:width=>200} key
              %th{:width=>400} oss
              %th{:width=>200} picture
      
            - @redis_kv.each do |item|
              %tr
                %td= item[0]
                %td= item[1]
                %td
                  = image_tag "http://recimg.cdn.aliyuncs.com/#{item[1]}", :width=>"32"

          %h3 调试信息
          %table.table.table-striped
            %tr
              %td{:width=>100}
                %strong Url
              %td= @url
            %tr
              %td{:width=>100}
                %strong Domain
              %td= @domain
            %tr
              %td{:width=>100}
                %strong Article_Title
              %td= @article_title
            %tr
              %td{:width=>100}
                %strong Html_Title
              %td= @html_title
            %tr
              %td{:width=>100}
                %strong Aliguess_Title
              %td= @title
            %tr
              %td{:width=>100}
                %strong Aliguess_Keywords
              %td= @aliguess_keywords
            %tr
              %td{:width=>100}
                %strong Valid_Keywords
              %td= @valid_keywords

#bd_snap_ln

%div{:style=>"position:relative"}
  = @page.html_safe

