#bd_snap
  #bd_snap_txt
    .container
      = render "layouts/flash_messages"

      = render 'form'

      .row
        .span4
          %h3 配图结果
          = image_tag @match_oss
          .clearfix
            %strong 命中的Key:
            = @match_key
        .span6
          %h3 调试信息
          %table.table.table-striped
            %tr
              %th key
              %th oss
              %th picture
      
            - @redis_kv.each do |item|
              %tr
                %td= item[0]
                %td= item[1]
                %td
                  = image_tag "http://recimg.cdn.aliyuncs.com/#{item[1]}", :width=>"32"

#bd_snap_ln

%div{:style=>"position:relative"}
  = @page.html_safe

%div#dialog{:title=>"Basic dialog"}
  %p This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.

