#bd_snap
  #bd_snap_txt
    .container
      = render "layouts/flash_messages"

      = render 'form'

      .row
        .span3
          .lily-block-title
            %h3 配图结果
          = image_tag @match_oss, :class=>"img-polaroid"
          .clearfix
            %br
            %strong 命中的Key:
            - if @match_key
              - @match_key.split(' ').each do |word|
                %span.label.label-important= word
        .span7
          .lily-block-title
            %h3 候选图片
          %table.table.table-striped
            %tr
              %th{:width=>200} key
              %th{:width=>400} oss
              %th{:width=>200} picture
      
            - @redis_kv.each do |item|
              %tr
                %td 
                  - if item[0]
                    - if item[0] == @match_key
                      - item[0].split(' ').each do |word|
                        %span.label.label-important= word
                    - else
                      - item[0].split(' ').each do |word|
                        %span.label.label-success= word
                %td= item[1]
                %td
                  = image_tag "http://recimg.cdn.aliyuncs.com/#{item[1]}", :width=>"32"

          .lily-block-title
            %h3 调试信息
          %table.table.table-striped
            %tr
              %td{:width=>100}
                %strong Url
              %td= @url
            %tr
              %td{:width=>100}
                %strong Domain
              %td= @domain
            %tr
              %td{:width=>100}
                %strong Article_Title
              %td= @article_title
            %tr
              %td{:width=>100}
                %strong Html_Title
              %td= @html_title
            %tr
              %td{:width=>100}
                %strong Aliguess_Title
              %td= @title
            %tr
              %td{:width=>100}
                %strong Aliguess_Keywords
              %td
                - @aliguess_keywords.each do |word|
                  %span.label.label-info= word
            %tr
              %td{:width=>100}
                %strong Valid_Keywords
              %td
                - @valid_keywords.each do |word|
                  %span.label.label-info= word

#bd_snap_ln

%div{:style=>"position:relative"}
  = @page.html_safe

